﻿body {
	margin: 0;
}

#bgmariko {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}

main {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

h1 {
	font-size: 64px;
	text-align: center;
}

p {
	text-align: center;
}
